## Connecting Spotipy

In [1]:
# imports
import pandas as pd
import numpy as np

In [3]:
# read scraped csv to df
df = pd.read_csv('./data/102008sample.csv')
df.head()

         title             artist
0   Girlfriend  Bow Wow & Omarion
1  Walk It Out      Unk & Outkast
2      Cyclone   BABY BASH/T-PAIN
3          BED         J. HOLIDAY
4  Temperature          Sean Paul